<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <title>UI - NEXT</title>
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/font-awesome.css" rel="stylesheet">
  <link href="css/smoothness/jquery-ui-1.9.2.custom.css" rel="stylesheet">
  <link href="css/fonts.css" rel="stylesheet">

  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div class="container">
    <div id="app-title" class="row-fluid">
      <div id="bot-switcher" class="btn" style="width: 30%">
        <i class="icon-cog"></i><span> BOTS</span>
        <span class="pull-right">
          <i class="icon-caret-down"></i>
        </span>
      </div>
      <div id="selected-bot"></div>
      <div id="logoutbtn" class="btn logoutbtn hidden-phone" style="min-width: 100px; width: 15%">
        <i class="icon-signout"></i><span> Abmelden</span>
      </div>
      <span id="phonemenu-btn" class="visible-phone btn pull-right">
        <i class="icon-align-justify"></i><span></span>
      </span>
    </div>
    <div class="row-fluid">
      <div class="span4" id="bot-switcher-dd">
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4" id="phonemenu-dd">
<ul class="unstyled">
<li>
<a class="logoutbtn" href="#">
<i class="icon-signout"></i><span> Abmelden</span>
</a>
</li>
<ul>
      </div>
    </div>
    <div id="app">
      <div id="staticpanels">
        <div class="widgetcontainer row-fluid" data-panelid="createbot" style="display: none">
          <div class="span9">
            <div class="row-fluid">
              <div class="span2"><span>Spielername</span></div>
              <input name="playername" class="span4" type="text">
              <div class="span2"><span>Passwort</span></div>
              <input name="password" class="span4" type="password">
            </div>
            <div class="row-fluid">
              <div class="span2"><span>Skript Paket</span></div>
              <select name="package" class="span4"></select>
              <div class="span2"><span>Server</span></div>
              <select name="server" class="span4"></select>
            </div>
            <div class="row-fluid">
              <div class="span2"><span>Proxies</span></div>
              <textarea name="proxies" class="span10 btn" rows="10" placeholder="Proxyliste hier einfügen"></textarea>
            </div>
            <div class="row-fluid">
              <button name="submit" type="button" class="offset9 btn span3">Bot anlegen</sbutton>
            </div>
            <div id="createbot_log" class="row-fluid"></div>
          </div>
          <div class="span3">
              <span>Ein sehr nützlicher Text, der z.B. Informationen über Proxies und andere Einstellungen gibt.</span>
          </div>
        </div>
        <div class="widgetcontainer row-fluid" data-panelid="login" style="display: block">
          <div class="span9">
            <div class="row-fluid">
              <div class="span2"><span>Nutzername</span></div>
              <input name="username" class="span4" type="text" />
              <div class="span2"><span>Passwort</span></div>
              <input name="password" class="span4" type="password" />
            </div>
            <div class="row-fluid">
              <button name="submit" type="button" class="offset9 btn span3">Anmelden</button>
            </div>
          </div>
          <div class="span3">
              <span>Ein sehr nützlicher Text, der z.B. Informationen über Proxies und andere Einstellungen gibt.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/jquery-1.8.3.js"></script>
  <script src="js/jquery-ui-1.9.2.custom.min.js"></script>
  <script src="js/jquery.ui.touch-punch.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquerymx-3.2.custom.js"></script>
  <script src="js/jquery.jqote2.js"></script>
  <script src="js/jquery.nicescroll.js"></script>
  <script src="js/jquery.cookie.js"></script>
  <script src="js/underscore.js"></script>
  <script src="js/bot_ui.js"></script>

  <script type="text/x-jqote-template" id="tmpl_togglebtn">
   <![CDATA[
      <div class="row-fluid">
        <div class="span4 column1">
          <span><%= this.label %></span>
        </div>
        <div class="span4 column2 hidden-phone"></div>
        <div class="span4 column3">
          <button type="button" class="span12 btn"></button>
        </div>
      </div>
    ]]>
  </script>

  <script type="text/x-jqote-template" id="tmpl_deletebtn">
   <![CDATA[
      <div class="row-fluid">
        <div class="span4 column1">
          <span><%= this.label %></span>
        </div>
        <div class="span4 column2 hidden-phone"></div>
        <div class="span4 column3">
          <button type="button" class="span12 delete btn">Löschen</button>
        </div>
      </div>
    ]]>
  </script>

  <script type="text/x-jqote-template" id="tmpl_textinput">
   <![CDATA[
      <div class="row-fluid">
        <div class="span4 column1">
          <span><%= this.label %></span>
        </div>
        <div class="span4 column2 hidden-phone"></div>
        <div class="span4 column3">
          <input type="text" class="span12" value="<%= this.value %>"/>
          <div class="placeholder"></div>
        </div>
      </div>
    ]]>
  </script>

  <script type="text/x-jqote-template" id="tmpl_textarea">
   <![CDATA[
      <div class="row-fluid">
        <div class="span4 column1">
          <span><%= this.label %></span>
        </div>
        <div class="span8 column2">
          <textarea rows="10" class="span12 btn"><%= this.value %></textarea>
          <div class="placeholder"></div>
        </div>
      </div>
    ]]>
  </script>

  <script type="text/x-jqote-template" id="tmpl_checkbox">
   <![CDATA[
      <div class="row-fluid">
        <div class="span4 column1">
          <span><%= this.label %></span>
        </div>
        <div class="span4 column3 hidden-phone">
        </div>
        <div class="span4 column3">
          <input type="checkbox" checked="<%= this.state %>"/>
          <div class="placeholder"></div>
        </div>
      </div>
    ]]>
  </script>

  <script type="text/x-jqote-template" id="tmpl_dropdown">
   <![CDATA[
      <div class="row-fluid">
        <div class="span4 column1">
          <span><%= this.label %></span>
        </div>
        <div class="span4 column2 hidden-phone"></div>
        <select class="span4 column3"></select>
      </div>
    ]]>
  </script>

  <script type="text/x-jqote-template" id="tmpl_textinputlist">
   <![CDATA[
      <div class="row-fluid">
        <div class="span4 column1">
          <span><%= this.label %></span>
        </div>
        <div class="span4 column2">
          <div class="input-append span12">
            <input class="span9" type="text"/>
            <button class="span3 btn" type="button"><i class="icon-plus"></i></button>
          </div>
        </div>
        <div class="span4 column3">
          <ol type="text" class="span12 unstyled reorder-list"></ol>
          <div class="placeholder"></div>
        </div>
      </div>
    ]]>
  </script>

  <script type="text/x-jqote-template" id="tmpl_listinputlist">
   <![CDATA[
      <div class="row-fluid">
        <div class="span4 column1">
          <span><%= this.label %></span>
        </div>
        <div class="span4 column2">
          <ol class="span12 unstyled reorder-list"></ol>
        </div>
        <div class="span4 column3">
          <ol class="span12 unstyled reorder-list"></ol>
          <div class="placeholder"></div>
        </div>
      </div>
    ]]>
  </script>

  <script type="text/x-jqote-template" id="tmpl_sliderinput">
   <![CDATA[
      <div class="row-fluid">
        <div class="span4 column1">
          <span><%= this.label %></span>
        </div>
        <div class="span4 column2">
          <div class="slider-input"></div>
          <div class="placeholder"></div>
        </div>
        <div class="span4 column3">
          <button class="btn span12" disabled="disabled" type="button">
            <span class="slider-display"></span>
            <div class="placeholder"></div>
          </button>
        </div>
      </div>
    ]]>
  </script>

  <script type="text/x-jqote-template" id="tmpl_log">
   <![CDATA[
      <div>
        <div class="row-fluid btn">
          <div class="collapsible-header span12">
            <span class="span6"><i class="handle icon-caret-down"></i>
              <span> <%= this.label %></span>
            </span>
            <div class="offset4 span2">
              <div class="slider-input"></div>
            </div>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span12">
            <div class="log scrollpane">
            </div>
          </div>
        </div>
      </div>
    ]]>
  </script>

  <script type="text/x-jqote-template" id="tmpl_listitems">
   <![CDATA[
      <% for (var i in this.list) { %>
        <li class="btn">
          <% if (this.handles) { %>
           <i class="handle icon-sort"></i>
          <% } %>
          <span class="text"><%= this.list[i] %></span>
          <% if (this.handles) { %>
            <i class="remove-handle icon-remove"></i>
          <% } %>
        </li>
      <% } %>
    ]]>
  </script>

  <script type="text/x-jqote-template" id="tmpl_dropdown_items">
   <![CDATA[
      <% for (var i in this.list) { %>
        <option><%= this.list[i] %></option>
      <% } %>
    ]]>
  </script>

  <script type="text/x-jqote-template" id="tmpl_botswitcher_list">
   <![CDATA[
   <ul class="unstyled">
      <% for (var bot in this.list) { %>
          <li>
          <% var encodedId = encodeURIComponent(bot); %>
          <% var splitId = bot.split("_", 3); %>
          <a href="#" data-botid="<%= encodedId %>">
            <span class="bs-game"><%= splitId[0] %>:</span>
            <span><b><%= splitId[2] %></b></span>
            <span class="pull-right bs-server">
              <span><%= splitId[1] %></span>
            </span>
          </a>
        </li>
      <% } %>
      <li>
      <a href="#" data-panelid="createbot">
        <span class="bs-game"><i class="icon-plus"></i></span>
        <span><b>Neuer Bot</b></span>
      </a>
    </li>
    <ul>
  ]]>
  </script>

  <script type="text/x-jqote-template" id="tmpl_tabs">
   <![CDATA[
      <div class="row-fluid">
        <div class="span3">
          <ul class="unstyled">
            <% var counter = 0; %>
            <% for (var name in this.containerMap) { %>
              <li><a href="#tabpane-<%= this.id %>-<%= counter %>"><%= name %></a></li>
              <% counter++; %>
            <% } %>
          </ul>
        </div>

        <% var counter = 0; %>
        <% for (var name in this.containerMap) { %>
          <div class="span9 tabpane" id="tabpane-<%= this.id %>-<%= counter %>">
            <div class="replaceme" data-name="<%= name %>"></div>
            <% counter++; %>
          </div>
        <% } %>
      </div>
    ]]>
  </script>

  <script>
    $(function() {
      new InterfaceCreator($("#app"), new ServerConnection());
    });

    $("#phonemenu-btn").click(function() {
      $("#phonemenu-dd").toggle();
    });

    $("#phonemenu-dd a").click(function() {
      $("#phonemenu-dd").hide();
    });

    $(".logoutbtn").click(function() {
      $.cookie("bs_session", "");
      location.reload();
    });
  </script>
</body>
</html>
